# Dreamcast Arm options
# Dir to build with
SYSTEM=dreamcast-arm
USEKOS="yes"
KOSSYSINC="dc"
ARMELF=arm-eabi
# Gcc version to build
#GCCVER="3.4.6"
GCCVER="8.4.0"
# Binutils version to build
BINVER="2.40"
# Newlib version to build
NEWLIBVER="4.1.0"
# Gdb version
GDBVER="12.1"
# Which languages to compile Gcc with
LANGUAGES="c"

if [ ! "$TESTING" ];then
	# Where to install to
	INSTALL="/opt/homebrew/dc"
fi

# Use the Dreamcast patches
PATCHDIR="$PATCHBASEDIR/dreamcast"

# What the arm compiler is called
TARG="$ARMELF"
# Binutils options
BINOPTS="--with-arch=armv4 --disable-nls --disable-werror"
# Gcc base options
GCCBOPTS="--with-arch=armv4  --with-newlib --disable-nls --without-headers --disable-threads --enable-languages=c"
# Final Gcc options
GCCFOPTS="--with-arch=armv4 --with-newlib --disable-nls --enable-symvers=gnu --enable-threads=$THREADS --enable-languages=$LANGUAGES"
# Newlib options
NEWLIBOPTS=""

# Gdb options
GDBOPTS="--enable-sim"

# End Dreamcast Arm options
