# Dreamcast Linux options
# Gcc version to build
#GCCVER="3.4.6"
GCCVER="4.4.1"
# Binutils version to build
BINVER="2.19.1"
# Kernel headers to use
#KERNELVER="linux-libc-headers-2.6.12.0"
# The above is about 2.5 MB, but below will give you newer headers
# Only use the above if you are on dial-up or don't have current linux sources
KERNELVER="2.6.30"
KERNELNAME="linux"
# Where the Dreamcast patches are
PATCHDIR="$PATCHBASEDIR/dclinux"
# Which languages to compile Gcc with
LANGUAGES="c,c++"

if [ ! "$TESTING" ];then
	# Where to install to
	INSTALL="/usr/local/dc-linux"
fi

# This is the target which it's known by by Linux
GENERICTARG=sh
# Sysroot
SYSROOT=$INSTALL/sys-root
# Sysroot Headers
HEADERSDIR=$SYSROOT/usr/include

if [ "$USEUCLIBC" ]; then
	# Target
	TARG="sh4-linux-uclibc"
	# uClibc version to build
	# Release edition
	UCLIBCVER="0.9.30"
	# Daily snapshot
	#UCLIBCVER="snapshot"
	# SVN
	#UCLIBCVER="uClibc"
	# Where uClibc is
	if [ "$UCLIBCVER" = "snapshot" -o "$UCLIBCVER" = "uClibc" ]; then
		UCLIBCDIR="$TARG/uClibc"
	else
		UCLIBCDIR="$TARG/uClibc-$UCLIBCVER"
	fi
	# Where uClibc headers are put
	UCLIBCHDIR="$SYSROOT"
else
	# Target
	TARG="sh4-linux-gnu"
	# Glibc version to build
	GLIBCVER="2.7"
	GLIBCDIR="$TARG/glibcbuild"
	CLIBCDIR=$INSTALL
	GLIBCHOPTS="--with-elf --enable-shared --disable-sanity-checks"
	GLIBCFOPTS="--with-headers=$HEADERSDIR --without-cvs --disable-profile --disable-debug --without-gd --with-elf --enable-shared"
	GCCEXTRAS="--enable-__cxa_atexit"
	PATCHDIR="$PATCHDIR/glibc"
fi

# Needed for uClibc configuring
DCLTARG="$TARG"
# Binutils options
BINOPTS="--disable-nls --with-sysroot=$SYSROOT"
# Gcc base options
GCCBOPTS="--enable-multilib --with-sysroot=$SYSROOT --disable-nls --with-local-prefix=$SYSROOT --disable-threads --disable-shared $GCCEXTRAS --enable-languages=c"
# Final Gcc options
GCCFOPTS="--enable-multilib --with-sysroot=$SYSROOT --with-local-prefix=$SYSROOT --disable-nls --enable-threads=$THREADS --enable-shared --enable-c99 --enable-long-long $GCCEXTRAS --enable-languages=$LANGUAGES"

QuietExec "mkdir -p $SYSROOT/lib"
QuietExec "mkdir -p $SYSROOT/usr/lib"

SYSTEM="DcLinux"

# End Dreamcast Linux options
