# Dreamcast options
# Needed for KOS build
SHELF=sh-elf
ARMELF=arm-elf
# Gcc version to build
GCCVER="gcc-3.4.6"
#GCCVER="gcc-4.2.3"
# Binutils version to build
BINVER="binutils-2.17"
# Newlib version to build
NEWLIBVER="newlib-1.13.0"
#NEWLIBVER="newlib-1.16.0"

# Where the Dreamcast patches are
PATCHDIR="$PATCHBASEDIR/dreamcast"
if [ ! "$TESTING" ];then
	# Where to install to
	INSTALL="/usr/local/dc"
fi
# Binutils options
BINOPTS="--disable-nls --enable-install-libbfd --with-sysroot=$INSTALL"

# Gcc 3.X options
# Gcc base options
GCCBOPTS="--with-newlib --disable-nls --without-headers --disable-threads --enable-languages=c"
# Final Gcc options
GCCFOPTS="--with-newlib --enable-install-libiberty --disable-nls --enable-symvers=gnu --enable-threads=$THREADS --enable-languages=$LANGUAGES"

# Gcc 4.X (experimental)
#GCCBOPTS="--with-newlib --with-cpu=m4-single-only --with-endian=little --disable-multilib --disable-nls --without-headers --disable-threads --enable-languages=c"
#GCCFOPTS="--with-newlib --with-cpu=m4-single-only --with-endian=little --disable-multilib --enable-install-libiberty --disable-nls --enable-symvers=gnu --enable-threads=$THREADS --enable-languages=$LANGUAGES"

# Newlib options
#NEWLIBOPTS=""
NEWLIBOPTS="--disable-newlib-io-float --disable-newlib-supplied-syscalls --enable-newlib-hw-fp --enable-newlib-multithread"

# Target
TARG="$SHELF"

# Where kos is located
if test "$KOSLOCATION" = "";then
	KOSLOCATION="$BASEDIR/$TARG/kos"
	mkdir -p $KOSLOCATION
fi

SYSTEM="Dreamcast"

# End Dreamcast options
