# Game Boy Advance options
# Dir to build with
SYSTEM=gba
# Tell newlib we're using KOS
USEKOS="yes"
# We need to know what the kos/kernel/arch/*/include/system is
KOSSYSINC="gba"
TARG=arm-elf
# Gcc version to build
GCCVER="4.4.6"
# Binutils version to build
BINVER="2.22"
# Newlib version to build
NEWLIBVER="1.19.0"
# Gdb version
GDBVER="7.2"
# Where the Game Boy Advance patches are
PATCHDIR="$PATCHBASEDIR/dreamcast"
# Which languages to compile Gcc with
LANGUAGES="c,c++"
# Don't use posix threads
THREADS="kos"

if [ ! "$TESTING" ];then
	# Where to install to
	INSTALL="/opt/homebrew/gba"
fi

# Binutils options
BINOPTS="--disable-nls --enable-install-libbfd --with-sysroot=$INSTALL"

# Gcc options
GCCBOPTS="--with-newlib --with-cpu=arm7tdmi --with-endian=little --disable-multilib --disable-nls --without-headers --disable-threads --disable-libssp --disable-shared --enable-languages=c"
GCCFOPTS="--with-system-zlib --with-newlib --with-cpu=arm7tdmi --with-endian=little --enable-multilib --enable-install-libiberty --disable-nls --enable-symvers=gnu --disable-libssp --disable-shared --with-sysroot=$INSTALL --enable-threads=$THREADS --enable-languages=$LANGUAGES"

# Newlib options
NEWLIBOPTS="--disable-newlib-io-float --disable-newlib-supplied-syscalls --enable-newlib-hw-fp --enable-newlib-multithread"

# Gdb options
GDBOPTS="--enable-sim"

# End Game Boy Advance options
