# ix86 options
# Dir to build with
SYSTEM=ix86
# Gcc version to build
GCCVER="3.4.6"
# Binutils version to build
BINVER="2.17"
# Newlib version to build
NEWLIBVER="1.13.0"
# Where the ix86 patches are
PATCHDIR="$PATCHBASEDIR/ix86"
# Which languages to compile Gcc with
LANGUAGES="c,c++"

#Override threads
THREADS=yes

# Where to install to
if [ ! "$TESTING" ];then
	INSTALL="/usr/local/ix86"
fi

# Binutils options
BINOPTS="--disable-nls --with-sysroot=$INSTALL"
# Gcc base options
GCCBOPTS="--with-newlib --disable-nls --without-headers --disable-threads --enable-languages=c"
# Final Gcc options
GCCFOPTS="--with-newlib --disable-nls --enable-symvers=gnu --enable-threads=$THREADS --enable-languages=$LANGUAGES"
# Newlib options
NEWLIBOPTS=""
# Target
TARG="i686-elf"

KOSLOCATION="$BASEDIR/$TARG/kos"
QuietExec "mkdir -p $KOSLOCATION"

SYSTEM="Ix86"

# End ix86 options
